* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: white;
    padding: 2px;
}

.head_class th {
    color: white;
    background-color: rgba(50, 50, 50, 1);

}

tr:last-child {
    background-color: rgba(90, 90, 90, 1);
    text-align: right;
    color: white;
    font-weight: 700;
}

tr:last-child :not(td:nth-child(5)) {
    border: none;
}

tr:nth-child(even):not(tr:last-child) {
    background-color: rgba(200, 200, 200, 1);
}

tr:nth-child(odd):not(tr:last-child) {
    background-color: rgba(230, 230, 230, 1);
}

tr td:nth-child(4), tr td:nth-child(5) {
    text-align: right;
} 

tr td:nth-child(3) {
    text-align: center;
    /* font-weight: 100; */
}

tr:not(:first-child):not(:last-child) {
    font-weight: 300;
}


